
<div class="title-container" routerLink="home">
    <h1 class="title">T.E.U</h1>
    <img class="icon--title" src="../../assets/icons/alojamiento-web.png" alt="Icono del título">
</div>
<ul class="nav--list">
    <li class="nav--list__element" routerLink="to-do-list" routerLinkActive="active">
        <img class="icon" src="../../assets/icons/lista-de-verificacion.png" alt="">
        <span>
            to-do-list
        </span>
    </li>
    <li class="nav--list__element">
        <img class="icon" src="../../assets/icons/matematicas.png" alt="">
        <span>
            calculator
        </span>
    </li>
    <li class="nav--list__element">
        <img class="icon" src="../../assets/icons/www.png" alt="">
        <span>
            api
        </span>
    </li>
    <li class="nav--list__element">
        <img class="icon" src="../../assets/icons/cohete.png" alt="">
        <span>
            ...otro
        </span>
    </li>
</ul>
