<div class="home-container ">
    <h1 class="home-title ">Bienvenido a T.E.U</h1>
    <div class="card-container animate__animated animate__bounceInUp " >
      <div class="card " routerLink="/to-do-list" >
        <img src="../../assets/icons/lista-de-verificacion.png" alt="To-Do List">
        <h2>To-Do List</h2>
        <p>Gestiona tus tareas diarias.</p>
      </div>
      <div class="card" routerLink="/calculator">
        <img src="../../assets/icons/matematicas.png" alt="Calculadora">
        <h2>Calculadora</h2>
        <p>Realiza cálculos matemáticos fácilmente.</p>
      </div>
      <div class="card" routerLink="/api">
        <img src="../../assets/icons/www.png" alt="API">
        <h2>API</h2>
        <p>Explora nuestra API.</p>
      </div>
      <div class="card" routerLink="/other">
        <img src="../../assets/icons/cohete.png" alt="Otro">
        <h2>Otro</h2>
        <p>Explora otras funcionalidades.</p>
      </div>
      
    </div>
  </div>